<footer>
  <div class="container">
    <p>Copyright &copy; 2019 Nenba Jonathan Confidential - All Rights Reserved
  </div>
</footer>
<script src="{{ site.baseurl }}/assets/scripts/base.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/nanobar.min.js"></script>
<script type="text/javascript">
var options = {
  classname: "test"
}
  var nanobar = new Nanobar( options );
  nanobar.go( 20 );
  setTimeout(function(){
    nanobar.go(30);
  }, 1000);
  setTimeout(function(){
    nanobar.go(40);
  }, 1200);
  setTimeout(function(){
    nanobar.go(85);
  }, 1700);
  setTimeout(function(){
    nanobar.go(96);
  }, 2300);
  setTimeout(function(){
    nanobar.go(100);
  }, 2800);
</script>