<div class="sidebar-mask"></div>

<aside class="sidebar">
  <a href="/" class="brand">
    <img src="{{ site.baseurl }}/assets/images/logo.png" class="brand-logo" alt="Nenba Jonathan" width="32" height="32">
    <div class="brand-description">
      <h1 class="brand-name">Nenba Jonathan</h1>
      <p class="brand-title">Programmer & Entrepreneur</p>
    </div>
  </a>

  <nav class="nav">
    <a href="/" class="nav-link {% if page.url == '/' %}active{% endif %}">Home</a>
    <a href="/about" class="nav-link {% if page.url == '/about/' %}active{% endif %}">About</a>
    <a href="/blog" class="nav-link {% if page.url contains '/blog/' %}active{% endif %}">Blog</a>
    <a href="/subscribe" class="nav-link {% if page.url == '/subscribe/' %}active{% endif %}">Subscription</a>
  </nav>

  <ul class="social">
    <li class="social-item">
      <a href="https://github.com/nejos97" class="social-link" target="_blank" rel="noopener"
        aria-label="Consulter mon profile GitHub" title="Consulter mon profile GitHub">
        <i class="fab fa-github-square fa-2x" title="Github"></i>
      </a>
    </li>
    <li class="social-item">
      <a href="https://twitter.com/nejos97" class="social-link" target="_blank" rel="noopener"
        aria-label="Me suivre sur Twitter" title="Me suivre sur Twitter">
        <i class="fab fa-twitter-square fa-2x" title="Twitter"></i>
      </a>
    </li>
    <li class="social-item">
      <a href="https://fr.quora.com/profile/Jonathan-Nenba" class="social-link" target="_blank" rel="noopener"
        aria-label="Lire mes reponse sur Quora" title="Lire mes reponse sur Quora">
        <i class="fab fa-quora fa-2x" title="Quora"></i>
      </a>
    </li>
    <li class="social-item">
      <a href="mailto:nenbajonathan@protonmail.com?subject=Salut Jonathan" class="social-link" target="_blank"
        rel="noopener" aria-label="M'ecrire directement un mail" title="M'ecrire directement un mail">
        <i class="fas fa-envelope-square fa-2x" title="Envelope"></i>
      </a>
    </li>
    <li class="social-item">
      <a href="https://linkedin.com/in/jnenba" class="social-link" target="_blank" rel="noopener"
        aria-label="Se connecter a moi sur linkedIn" title="Se connecter a moi sur linkedIn">
        <i class="fab fa-linkedin fa-2x" title="LinkedIn"></i>
      </a>
    </li>
  </ul>
</aside>