---
title: About
permalink: /about/
---

<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/blog.css">
</head>

<body class="loading">

  {% include header.html %}

  {% include sidebar.html %}
  <main>
    <section>
      <div class="container blog">
        <h2>A little about me</h2>
        <div class="section-intro" style="font-style: normal; max-width: 90%;">
          <p>
            I'm a Software Developer working for a new zeland company.
          </p>
          <p>
            I want to be that Software Developer who develops something that is used around the world and solves problems in society through code.           </p>
          <p>
          
          <p>
            I'm an enthusiast for the Javascript and Go programming language. I write python for competitive programming and for contributing to OSS. Currently, I'm very interested in developing software for high-level (e.g., Web server), Mobile and IoT. Besides, I have  got interested in blockchain technology and web3.
          <br>

          <h4>Skills</h4>
          <ul>
            <li>macOS, GNU/Linux, FreeBSD</li>
            <li>JavaScript/TypeScript(React, React Native, Node.js, VueJS, NestJS)</li>
            <li>Go(Gin, Gorm...)</li>
            <li>Python(Django, FastAPI, Flask)</li>
            <li>Git</li>
          </ul>

          <h4>Tools</h4>
          <ul>
            <li>PostgreSQL, MySQL, SQLite</li>
            <li>MongoDB, Redis</li>
            <li>Detox, Jest, Cypress, Sentry,</li>
            <li>Firebase, Fastlane</li>
            <li>Jira/Slack/VSCode</li>
            <li>Github/Gitlab/Bitbucket</li>
          </ul>

          <h4>Cloud</h4>
          <ul>
            <li>Azure</li>
            <li>AWS</li>
            <li>Heroku</li>
            <li>Netlify/Vercel</li>
            <li>Digital Ocean</li>
            <li>Render</li>
          </ul>
        </div>
      </div>
    </section>
  </main>

  {% if page.url != '/' %}
    {% include footer.html %}
  {% endif %}

</body>

</html>