---
title: A propos
permalink: /about/
---



<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/blog.css">
</head>

<body class="loading">

  {% include header.html %}

  {% include sidebar.html %}
  <main>
    <section>
      <div class="container blog">
        <h2>A propos de moi 😎</h2>
        <div class="section-intro" style="font-style: normal; max-width: 90%;">
          <p>Je suis Nenba Jonathan, je suis un étudiant(de temps en temps) en Informatique à l’université de Ngaoundere
            au Cameroun. Je suis né dans une famille de 5 enfants et je suis le 3e. J’ai 2 grands magnifique grand
            frère(😘 Abel et 😘 Isaac). J’ai fait la majeurs partie de mes études secondaires dans une ville au Nord du pays
            qui s’appelle Guider.</p>

          <p>En classe de 4e que j’ai eu la chance d'être séduit par l’informatique. J’étais avec mes amis(🖥️ Dany,🖥️ Andre,
            🖥️ Alladin) et on aimait passer énormément de temps dans le centre de ressource multimédia de notre
            établissement. Depuis ce temps, je me suis vraiment consacré à l’informatique et de tout ce qui tourne
            autour.</p>

          <p>Après l’obtention de mon Baccalauréat, j'ai passé le concours de l’IUT(Institut Universitaire de
            Technologie) où j’ai fait une formation en génie informatique de 2 ans. J’aimais l’informatique, mais pas la
            manière avec laquelle je le faisais. Je n'aimais pas la manière dont les cours étais dispensé. Après cela,
            je me suis inscrit en Faculté.</p>

          <p>Je voulais être indépendant et avoir assez de temps pour faire ce que je voulais. J’ai longuement réfléchi
            sur mon avenir et ce que mon entourage attendais. J’ai donc décidé de me lancer et de faire ce qui me
            plaisait réellement, c’est de cette manière que j’ai découvert l'entrepreneuriat et d'autres passions avec
            les amis.</p>

          <p>J’ai décidé d’être un Informaticien et Entrepreneur. Je vais continuer l’apprentissage(Ne dit-on pas qu'on
            apprend toute sa vie ? ). </p>

          <p>Ce site web, je l’ai créé dans le but de partager ma passion avec des gens de
            partout dans le monde et apprendre d’eux également. Je suis passionné de lecture, d'écriture, photographie,
            musique... Ce site web va vous faire découvrir tout cela n'hésitez pas de la partager dans votre entourage
            également. Rendez-vous dans la section Blog du site.</p>
          <br>
          <p><strong>Merci d’avoir lu. 👋</strong></p>

        </div>
      </div>
    </section>
  </main>

  {% if page.url != '/' %}
  {% include footer.html %}
  {% endif %}

</body>

</html>